<!DOCTYPE html>
<html>
   <head>
      <title>Ai-Fel</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <main>
      <div>
      <form action = "http://localhost:5000/list" method = "post">
         <div class="p2">Ord (norsk)</div>
         <div><input type = "text" name = "on" size="25" /></div>
         <div class="p2">Ord (engelsk)</div>
         <div><input type = "text" name = "oa" size="25" /></div>
         <div class="p2">Ordklasse</div>
         <div><input type = "text" name = "ok" size="25"/></div>
         <div class="p2"><input type = "submit" value = "Legg til ord"/></div>
      </form>
      <form action = "http://localhost:5000/list" method = "post">
         <div class="p2">Ord (ID)</div>
         <div><input type = "number" name = "sletto" size="25"/></div>
         <div class="p2"><input type = "submit" value = "Slett ord"/></div>
      </form>
      <form action = "http://localhost:5000/list" method = "post">
         <div class="p2">Ord (Filter)</div>
         <div><input type = "text" name = "filtero" size="25"/></div>
         <div class="p2"><input type = "submit" value = "Filtrer"/></div>
      </form>
      </div>
      <div id="ut">
      </div>
      </main>
      <script>
         const ut = document.getElementById("ut");
         const dict = '{{dictjava|tojson}}';
         const parsed = JSON.parse(dict)
         for (let x in parsed) {
            const para = document.createElement("p");
            let [word, translation, type] = parsed[x];
            para.innerText = "Ord: " + word + " =  " + translation + " (" + type + ")  ID:" + x;

            ut.appendChild(para);
          }
      </script>
   </body>
</html>