body {background-color: floralwhite;}
h1   {color: blue; text-align: center; font-size:larger}
.center {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
main {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-left: 20%;
    margin-right: 20%;
}
p {
    color: black; 
    text-align: center; 
    font-size: 20px;
    border: 2px solid red;
    border-radius: 4px;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}
.p2 {
    font-size: 25px;
    border: 0px;
    text-align: center;
}
form {
    max-width: 300px;
    margin: auto;
    background-color: powderblue;
    margin-top: 20px;
    padding: 30px;
}
div {
    font-size: 30px;
    text-align: center;
}
input {
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
}